body {
  background-image: url(https://live.staticflickr.com/65535/52218750325_d02e8dd823_k.jpg);
  color: white;
}
.homeSection {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rocketSection {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rocketSection .card {
  margin: 1rem;
}

.companySummary {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 3rem;
}
